@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,500&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* font-family: 'Bebas Neue', cursive;

font-family: 'Manrope', sans-serif;

font-family: 'Poppins', sans-serif;

font-family: 'Roboto', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;

}
a {
  text-decoration: none;
  color: black;
}
p {
  font-size: 16px;
}
img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding-left: 0;
}


/*------------------
    header section  
 -------------------*/

 .menu-logo h3 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 0;
}

/*------------------
    slider section  
 -------------------*/

.carousel-box1,.carousel-box2, .carousel-box3{
  height: 573px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel-box1{
  background-image: url(images/banner.png);
  
}
.carousel-box2{
  background-image: url(images/banner3.jpg);
  
}
.carousel-box3{
  background-image: url(images/banner\(1\).jpg);
  
}
.carousel-control-prev, .carousel-control-next{
  z-index: 99;
}
.inner-slider{

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.418);

}
.carusel-text {
	max-width: 500px;
}

.carusel-text h1 {
	font-size: 48px;
	line-height: 57px;
	font-weight: 600;
}
.carusel-text p {
	font-weight: 300;
	padding: 11px 0;
}
.carusel-text button {
	border: none;
	outline: none;
	background: rgba(63, 135, 245, 1);
	padding: 10px 30px;
	border-radius: 30px;
	color: white;
	font-weight: 700;
	border: 3px solid rgba(63, 135, 245, 1);
  transition:0.3s linear;
}
.carusel-text button:hover{
  background-color: white;
  color: rgba(63, 135, 245, 1);
  padding: 10px 40px;

}


/*------------------
    album section  
 -------------------*/


.album-section{}
.album-img{}
.album-img img{}
.album-text{}
.album-text h1 {
	font-size: 38px;
	font-weight: 700;
}
.album-text p {
	font-weight: 700;
	line-height: 28px;
	color: rgba(108, 108, 108, 1);
}
.explor-btn{
  border: none;
	outline: none;
	background: rgba(63, 135, 245, 1);
	padding: 10px 30px;
	border-radius: 30px;
	color: white;
	font-weight: 700;
	border: 3px solid rgba(63, 135, 245, 1);
  transition: 0.3s linear;
}
.explor-btn:hover{
  background-color: white;
  color: rgba(63, 135, 245, 1);
	border: 3px solid rgba(63, 135, 245, 1);
  
}
.explor-btn i{
  transition: 0.3s linear;

}
.explor-btn:hover i{
  padding-left: 15px;
}


/*------------------
    pricing section  
 -------------------*/

.pricing-title h1 {
	font-weight: 600;
	color: rgba(35, 29, 79, 1);
}
.pricing-card {
	padding: 39px 22px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 26px;


}
.pricing-card h1 {
	font-size: 36px;
	font-weight: 700;
	color: rgba(35, 29, 79, 1);
	font-family: 'Roboto', sans-serif;
}
.pricing-card h3 {
	font-size: 28px;
	font-weight: 700;
	color: rgba(35, 29, 79, 1);
	font-family: 'Roboto', sans-serif;
}
.pricing-card p, ul {
	color: rgba(132, 129, 153, 1);
	font-size: 15px;
  font-weight: 300;

}
.pricing-card ul{}
.pricing-card ul li {
	font-size: 15px;
	margin-bottom: 11px;
}
.pricing-card ul li i {
	color: #5243C2;
	font-size: 14px;
	padding: 4px;
	background-color: #e2dfff;
}
.pricing-card button{
  border: none;
	outline: none;
	background: white;
	padding: 10px 53px;
	border-radius: 30px;
	color: rgba(63, 135, 245, 1);
	font-weight: 700;
  background-color: rgba(255, 238, 255, 0.753);
}

.pricing-card-active{
  background-color: rgba(63, 135, 245, 1);
  border-radius: 26px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transform: translateY(-33px);
  position: relative;
}
.pricing-card-active ul li i {
	color: wheat;
  background-color: rgba(247, 250, 255, 0.164);

}
.pricing-card-active button {
	background-color: white;
	padding: 10px 53px;
}
.best {
	position: absolute;
	background-color: rgba(255, 78, 78, 1);
	color: white;
	padding: 5px 13px;
	border-radius: 18px;
	top: -13px;
	right: 18px;
}


.reveiw {
	width: 351px;
	height: 304px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 15px;
  
}
.reveiw p {
  color: rgba(108, 108, 108, 1);
  letter-spacing: 0.2px;
  line-height: 23px;
  font-weight: 400;
}
.clint-img{}
.clint-img img{}
.reveiw h3 {
	font-size: 15px;
	font-weight: 600;
	color: rgba(12, 25, 32, 1);
}
.reveiw h4{
  color: #747474;
  font-size: 15px;
	font-weight: 700;
}

/*------------------
    pricing section  
 -------------------*/


 footer {
	background: #0B0D17;
}
.copy-right {
	font-size: 15px;
	color: rgba(217, 219, 225, 1);
	font-weight: 400;
	margin-bottom: 0;
  font-family: 'Manrope', sans-serif;
}
.app{}
.app h5 {
	font-size: 20px;
	color: rgba(217, 219, 225, 1);
	font-weight: 500;
	font-family: 'Manrope', sans-serif;
	margin-bottom: 14px;
}
.store {
	background-color: black;
	padding: 1px 10px;
  border: 1px solid white;
}
.store i {
	font-size: 25px;
	padding: 10px;
}
.store-text{}
.store-text p {
	font-size: 9px;
	margin-bottom: 0;
}
.store-text h3 {
	font-size: 16px;
	margin-bottom: 0;

}